Repository AlexRaycan/SkyTrack: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

.lintstagedrc:

{
	"*.{js,ts,jsx,tsx}": ["npm run lint:fix", "npm run prettier-fix"],
	"*.{css,scss}": ["stylelint \"**/*.scss\" --fix", "npm run prettier-fix"]
}

Обновление конфигурации lint-staged
  .gitattributes
  .lintstagedrc
Due: none

Добавление зависимости `tailwind-merge`
  bun.lock
  package.json
  src/pages/Home/FlightList/Flight.data.ts
Due: npm run lint:fix, npm run prettier-fix

Обновление функционала информации о полетах
  bun.lock
  package-lock.json
  package.json
  src/assets/icons/action/close.svg
  src/assets/icons/action/follow.svg
  src/assets/icons/action/share.svg
  src/assets/icons/other/more.svg
  src/assets/icons/other/route.svg
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Cell/Cell.tsx
  src/components/Cell/index.ts
  src/components/Section/Section.tsx
  src/index.css
  src/pages/Home/FlightInformation/FIActionButtons/FIActionButtons.tsx
  src/pages/Home/FlightInformation/FIActionButtons/index.ts
  src/pages/Home/FlightInformation/FICell/FICell.tsx
  src/pages/Home/FlightInformation/FICell/index.ts
  src/pages/Home/FlightInformation/FICity/FICity.tsx
  src/pages/Home/FlightInformation/FICity/index.ts
  src/pages/Home/FlightInformation/FlightInformation.css
  src/pages/Home/FlightInformation/FlightInformation.tsx
  src/pages/Home/FlightList/Flight.data.ts
  src/pages/Home/FlightList/FlightList.tsx
  src/pages/Home/Home.tsx
  src/types/types.ts
Due: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

Обновление функционала компонентов FlightInformation
  src/components/Button/Button.tsx
  src/pages/Home/FlightInformation/FIActionButtons/FIActionButtons.tsx
Due: npm run lint:fix, npm run prettier-fix

Добавление кеширования и переход на Bun в workflow
  .gitattributes
  .github/workflows/gh-pages.yml
  .github/workflows/pages-preview.yml
  .husky/pre-commit
  .husky/pre-push
Due: none

Обновление `pages-preview.yml` workflow
  .github/workflows/pages-preview.yml
Due: none

Удаление package-lock.json
  bun.lock
  package-lock.json
Due: none

Обновление ignore-файлов
  .gitignore
  .prettierignore
  .stylelintignore
Due: none

Добавление функционала переключения темы
  .github/workflows/pages-preview.yml
  .stylelintrc.json
  components.json
  eslint.config.js
  package-lock.json
  package.json
  src/assets/icons/action/close.svg
  src/assets/icons/action/follow.svg
  src/assets/icons/action/share.svg
  src/assets/icons/action/swtich-theme.svg
  src/assets/icons/other/more.svg
  src/assets/icons/other/route.svg
  src/components/Button/Button.css
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Cell/Cell.tsx
  src/components/Section/Section.tsx
  src/components/animate-ui/icons/icon.tsx
  src/components/animate-ui/icons/map-pin.tsx
  src/components/animate-ui/icons/upload.tsx
  src/components/animate-ui/icons/x.tsx
  src/context/ThemeContext.ts
  src/context/ThemeProvider.tsx
  src/index.css
  src/layouts/Layout/Layout.tsx
  src/layouts/Layout/SwitchTheme/SwitchTheme.tsx
  src/layouts/Layout/SwitchTheme/index.ts
  src/layouts/Layout/index.ts
  src/lib/utils.ts
  src/main.tsx
  src/pages/Home/FlightInformation/FICell/FICell.tsx
  src/pages/Home/FlightInformation/FICity/FICity.tsx
  src/pages/Home/FlightInformation/FIHeader/FIHeader.tsx
  src/pages/Home/FlightInformation/FIHeader/index.ts
  src/pages/Home/FlightInformation/FlightInformation.tsx
  src/pages/Home/FlightList/Flight.data.ts
  src/pages/Home/Home.tsx
  src/routeTree.gen.ts
  src/styles/main.css
Due: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

Удаление сгенерированного файла маршрутов
  src/routeTree.gen.ts
Due: npm run lint:fix, npm run prettier-fix

Обновление функционала SwitchTheme
  bun.lock
  package-lock.json
  package.json
  src/App.css
  src/assets/icons/action/swtich-theme-dark.svg
  src/assets/icons/action/swtich-theme-light.svg
  src/assets/icons/action/swtich-theme.svg
  src/components/Card/Card.css
  src/components/Card/Card.tsx
  src/components/Tag/Tag.tsx
  src/components/Tag/index.ts
  src/components/animate-ui/icons/map-pin.tsx
  src/components/animate-ui/icons/upload.tsx
  src/context/ThemeProvider.tsx
  src/context/useTheme.ts
  src/index.css
  src/layouts/Layout/Layout.tsx
  src/layouts/Layout/SwitchTheme/SwitchTheme.tsx
  src/pages/Home/FlightInformation/FIHeader/FIHeader.tsx
  src/pages/Home/FlightInformation/FlightInformation.tsx
  src/pages/Home/FlightList/FlightList.tsx
  src/pages/Home/Home.tsx
  src/styles/main.css
  vite.config.ts
Due: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

Создание сгенерированного файла маршрутов
  .gitignore
  src/routeTree.gen.ts
Due: npm run lint:fix, npm run prettier-fix

Обновление tsconfig.app.json
  tsconfig.app.json
Due: none

# Обновление зависимостей и рефакторинг кода
  .lintstagedrc
  bun.lock
  package.json
  src/components/animate-ui/icons/heart.tsx
  src/lib/utils.ts
Due: npm run lint:fix, npm run prettier-fix

Обновление логики и компонентов интерфейса
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Cell/Cell.tsx
  src/components/Header/Header.tsx
  src/hooks/useWindowWidth.ts
  src/index.css
  src/layouts/Layout/Layout.tsx
  src/pages/Home/FlightInformation/FlightDetails.tsx
  src/pages/Home/FlightInformation/FlightDetailsCell/FlightDetailsCell.tsx
  src/pages/Home/FlightInformation/FlightDetailsCity/FlightDetailsCity.tsx
  src/pages/Home/FlightInformation/FlightDetailsHeader/FlightDetailsHeader.tsx
  src/pages/Home/FlightList/FlightList.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/MapComponent/MapComponent.tsx
  src/pages/Home/MapComponent/index.ts
  src/styles/main.css
Due: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

Переработка компонентов и улучшение стилей
  src/components/Header/Header.tsx
  src/index.css
  src/layouts/Layout/Layout.tsx
  src/pages/Home/FlightInformation/FlightDetails.tsx
  src/pages/Home/FlightInformation/FlightDetailsHeader/FlightDetailsHeader.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/MapComponent/MapComponent.tsx
Due: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

Обновление структуры и улучшение функционала приложения
  src/components/Card/Card.css
  src/components/Card/Card.tsx
  src/components/Header/Header-menu.data.ts
  src/components/Header/HeaderMenuItem/HeaderMenuItem.tsx
  src/components/Header/HeaderMenuItem/index.ts
  src/index.css
  src/layouts/Layout/Layout.tsx
  src/pages/Home/FlightList/FlightList.tsx
  tsconfig.app.json
Due: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

Обновление логики и компонентов интерфейса
  src/components/Button/Button.tsx
  src/components/Header/Header-menu.data.ts
  src/components/Header/Header.tsx
  src/components/Header/HeaderMenuItem/HeaderMenuItem.tsx
Due: npm run lint:fix, npm run prettier-fix

Добавление функционала избранного и внедрение Redux
  bun.lock
  package.json
  src/components/Button/Button.tsx
  src/components/Card/AddToFavoriteButton/AddToFavoriteButton.tsx
  src/components/Card/AddToFavoriteButton/index.ts
  src/components/Card/Card.tsx
  src/components/Header/HeaderMenuItem/HeaderMenuItem.tsx
  src/hooks/useAppDispatch.ts
  src/hooks/useAppSelector.ts
  src/index.css
  src/main.tsx
  src/pages/Home/FlightInformation/FlightDetailsHeader/FlightDetailsHeader.tsx
  src/store/favorites/favorites.slice.ts
  src/store/index.ts
Due: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

Добавление кнопки "Добавить в избранное" в шапке детализации рейса
  src/components/Button/Button.tsx
  src/components/Card/AddToFavoriteButton/AddToFavoriteButton.tsx
  src/pages/Home/FlightInformation/FlightDetailsHeader/FlightDetailsHeader.tsx
  src/routeTree.gen.ts
  src/store/favorites/favorites.slice.ts
Due: npm run lint:fix, npm run prettier-fix

Обновление размеров и стилей компонентов
  src/components/Button/Button.tsx
  src/components/Card/AddToFavoriteButton/AddToFavoriteButton.tsx
  src/pages/Home/FlightInformation/FlightDetailsHeader/FlightDetailsHeader.tsx
Due: npm run lint:fix, npm run prettier-fix

Обновление фильтрации рейсов и логики работы с URL
  src/components/Card/Card.tsx
  src/components/Header/Header-menu.data.ts
  src/components/Header/HeaderMenuItem/HeaderMenuItem.tsx
  src/pages/Home/FlightInformation/FlightDetails.tsx
  src/pages/Home/FlightInformation/FlightDetailsHeader/FlightDetailsHeader.tsx
  src/pages/Home/FlightList/FlightList.tsx
Due: npm run lint:fix, npm run prettier-fix

Обновление логики работы с состоянием и фильтрацией рейсов
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Header/HeaderMenuItem/HeaderMenuItem.tsx
  src/hooks/useFlightSelectionState.ts
  src/index.css
  src/pages/Home/FlightInformation/FlightDetails.tsx
  src/pages/Home/FlightList/FlightList.tsx
Due: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

Обновление компонента прогресса [feature]
  src/assets/icons/other/airplane.svg
  src/components/Card/Card.tsx
  src/components/FlightStatus/FlightStatus.css
  src/components/FlightStatus/FlightStatus.tsx
  src/components/FlightStatus/index.ts
  src/pages/Home/FlightInformation/FlightDetails.tsx
Due: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

Добавление компонента Skeleton [feature]
  src/components/Card/Card.tsx
  src/components/Skeleton/Skeleton.tsx
  src/components/Skeleton/index.ts
  src/index.css
  src/pages/Home/FlightList/FlightList.tsx
Due: npm run lint:fix, npm run prettier-fix, stylelint "**/*.scss" --fix

Добавление иконки самолета в детализацию рейса [feature]
  src/assets/icons/other/airplane-up.svg
  src/pages/Home/FlightInformation/FlightDetails.tsx
  src/pages/Home/FlightList/FlightList.tsx
Due: npm run lint:fix, npm run prettier-fix

Обновление зависимостей [chore]
  bun.lock
  package.json
Due: none

Обновление компонентов и добавление анимаций [feature]
  src/components/Header/Header.tsx
  src/components/Header/HeaderMenuItem/HeaderMenuItem.tsx
  src/components/Section/Section.tsx
  src/layouts/Layout/Layout.tsx
  src/main.tsx
  src/pages/Home/FlightInformation/FlightDetails.tsx
  src/pages/Home/FlightInformation/FlightDetailsHeader/FlightDetailsHeader.tsx
  src/pages/Home/FlightList/FlightList.tsx
Due: npm run lint:fix, npm run prettier-fix

Добавление нового компонента карты [feature]
  .gitignore
  .prettierignore
  .stylelintignore
  bun.lock
  eslint.config.js
  package.json
  src/components/Header/Header.tsx
  src/layouts/Layout/Layout.tsx
  src/pages/Home/FlightInformation/FlightDetails.tsx
  src/pages/Home/FlightList/FlightList.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/MapComponent/MapComponent.tsx
Due: npm run lint:fix, npm run prettier-fix

Обновление переменных окружения и применения API ключа [feature]
  .github/workflows/gh-pages.yml
  .github/workflows/pages-preview.yml
  src/pages/Home/MapComponent/MapComponent.tsx
Due: npm run lint:fix, npm run prettier-fix

Удаление лишней конфигурации деплоя [chore]
  .github/workflows/gh-pages.yml
  .github/workflows/pages-preview.yml
Due: none

# Добавление данных аэропортов и обновление MapComponent [feature]
  bun.lock
  package.json
  src/hooks/useFlightSelectionState.ts
  src/pages/Home/FlightInformation/FlightDetails.tsx
  src/pages/Home/MapComponent/Airport.data.ts
  src/pages/Home/MapComponent/MapComponent.tsx
Due: npm run lint:fix, npm run prettier-fix

Обновление MapComponent и исправление workflow [bugfix]
  .github/workflows/gh-pages.yml
  src/pages/Home/MapComponent/MapComponent.tsx
Due: npm run lint:fix, npm run prettier-fix

# Добавление расчета маршрутов на карте [feature]
  src/hooks/useMapData.ts
  src/lib/getFlightFeatures.ts
  src/lib/getMapRouteProgress.ts
  src/pages/Home/FlightList/Flight.data.ts
  src/pages/Home/MapComponent/MapComponent.tsx
  src/types/types.ts
  tsconfig.json
  vite.config.ts
Due: npm run lint:fix, npm run prettier-fix

# Реализация интеграции сервиса OpenSky [feature]
  bun.lock
  package.json
  server/opensky-proxy.cjs
  src/App.tsx
  src/components/Card/Card.tsx
  src/components/City/City.tsx
  src/components/Skeleton/Skeleton.tsx
  src/hooks/useFlightSelectionState.ts
  src/hooks/useMapData.ts
  src/lib/formateDate.ts
  src/lib/getFlightFeatures.ts
  src/pages/Home/FlightInformation/FlightDetails.tsx
  src/pages/Home/FlightInformation/FlightDetailsCity/FlightDetailsCity.tsx
  src/pages/Home/FlightInformation/FlightDetailsHeader/FlightDetailsHeader.tsx
  src/pages/Home/FlightList/Flight.data.ts
  src/pages/Home/FlightList/FlightList.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/MapComponent/MapComponent.tsx
  src/services/external/airportdb/airportdb.service.ts
  src/services/external/airportdb/airportdb.types.ts
  src/services/external/aviation/aviation.service.ts
  src/services/external/aviation/aviation.types.ts
  src/services/external/opensky/opensky.service.ts
  src/services/external/opensky/opensky.types.ts
  src/types/flight.types.ts
  src/types/map.types.ts
Due: npm run lint:fix, npm run prettier-fix

# Обновление OpenSky Proxy и интеграция AeroDataBox [feature]
  bun.lock
  package.json
  server/opensky-proxy.cjs
  server/server.cjs
  src/App.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/MapComponent/MapComponent.tsx
  src/services/external/aerodatabox/aerodatabox.service.ts
  src/services/external/aerodatabox/aerodatabox.types.ts
  src/services/external/airportdb/airportdb.service.ts
  src/services/external/opensky/opensky.service.ts
  src/services/external/opensky/opensky.types.ts
Due: npm run lint:fix, npm run prettier-fix

Обновление динамической загрузки данных рейсов [feature]
  src/pages/Home/FlightList/FlightList.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/MapComponent/MapComponent.tsx
Due: npm run lint:fix, npm run prettier-fix

Обновление сервиса AeroDataBox и исправления [feature]
  server/server.cjs
  src/pages/Home/FlightList/FlightList.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/MapComponent/MapComponent.tsx
  src/services/external/aerodatabox/aerodatabox.service.ts
Due: npm run lint:fix, npm run prettier-fix
